@import '~bootstrap/scss/bootstrap';

.selezionato {
    color: #0C7CEC;
    border-bottom: 2px solid #0C7CEC;
    margin: 0;
}

.navbar-dc {
    width: 100%;
    position: fixed;
    top: 2%;
    z-index: 10;
}

.nav-bar-dc-blue {
    background-color: #0C7CEC;
    position: fixed;
    top: 0;
}

.color-white {
    color: white;

}

.mini {
    font-size: 12px;
    padding: 0 8px;
}

.spacer {
    margin-top: 149px;
}

;

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
    background-size: cover;
}

.background-comics {
    background-image: url("../img/footer-bg.jpg");
}

.white {
    color: white;
}

.gray {
    color: gray;
    text-decoration: none;
}

.lista {
    list-style: none;
    padding: 0;
}

.sfondo-dc {
    width: 100%;
    transform: translate(15%, -20%);
}

.background-gray {
    background-color: #383838;
}

.blue {
    color: #0C7CEC;
}

.sign-up-btn {
    border: 2px solid #0C7CEC;
    border-radius: 0;
    padding: .7rem;
}

.icone {
    width: 65%;
}