@import '~bootstrap/scss/bootstrap';

.selezionato {
    color: #0C7CEC;
    border-bottom: 2px solid #0C7CEC;
    margin: 0;
}

.navbar-dc {
    width: 100%;
    position: fixed;
    top: 18px;
    z-index: 10;
}

.nav-bar-dc-blue {
    Z-INDEX: 10;
    background-color: #0C7CEC;
    position: fixed;
    top: 0;
}

.color-white {
    color: white;

}

.mini {
    font-size: 12px;
    padding: 0 8px;
}

.spacer {
    margin-top: 149px;
}

;

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
    background-size: cover;
}

.background-comics {
    background-image: url("../img/footer-bg.jpg");
}

.white {
    color: white;
}

.gray {
    color: gray;
    text-decoration: none;
}

.lista {
    list-style: none;
    padding: 0;
}

.sfondo-dc {
    width: 100%;
    transform: translate(15%, -20%);
}

.background-gray {
    background-color: #383838;
}

.blue {
    color: #0C7CEC;
}

.sign-up-btn {
    border: 2px solid #0C7CEC;
    border-radius: 0;
    padding: .7rem;
}

.icone {
    width: 65%;
}

.btn-load {
    background-color: #0C7CEC;
    width: 13%;
    border-radius: 0;
}

.serie {
    background-color: #0C7CEC;
    width: fit-content;
    padding: .5rem 1.1rem;
    top: -24px;
    left: 2%;
}

.bg-darkgray {
    background-color: rgb(29, 29, 29);
}

.bg-blue {
    background-color: #0C7CEC;
}

.white {
    color: white;
}

.carta {

    img {
        max-height: 180px;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
    }
}

.acquisto {
    width: 20%;

    img {
        width: 15%;
    }

}